extends base.pug
append scripts
  script(src='/static/mydiary.js')

append style
  style
    include ../static/contactus.css

block content
    div#content
    section.content
        h1 Contact Us
        form.contact(action='/contactus' method="get")
            input.input(type="text" name="name" placeholder="Enter your name")
            input.input(type="email" name="email" placeholder="Enter your email")
            input.input(type="text" name="desc" placeholder="Enter description")
            input.input#submit(type="submit")

    