extends base.pug
append scripts
  script(src='/static/userhome.js')

append style
  style
    include ../static/userhome.css

block content
  div#content
  div#h1
    h1 Let's document the memories!!!!
  div#benefits
    div.benefit
      img.bimg(src='/static/res/OscarWilde.jpg' style='mix-blend-mode: multiply;')
      pre.bcontent 
        | I never travel without my diary. One should always have something sensational to read in the train.
        |
        |
        strong Oscar Wilde
    div.benefit
      img.bimg(src='/static/res/LeonardCohen.jpg' style='mix-blend-mode: multiply;')
      pre.bcontent 
        | Dear Diary
        | You are greater than the Bible
        | And the Conference of the Birds
        | And the Upanishads
        | All put together
        |
        |
        strong Leonard Cohen
    div.benefit
      img.bimg(src='/static/res/madeleine.jpg' style='mix-blend-mode: multiply;')
      pre.bcontent
        | If you want to write, you need to keep an honest, unpublishable journal that nobody reads, nobody but you.
        |
        |
        strong Madeleine L’Engle
  div#contactus
    div#contact
      h2 Have any suggestions for us?
      a#cs(href='/contactus') Contact Us
      //- button#cs(onclick='contactus()') Contact Us