*{
    box-sizing: border-box;
    margin: 0px;
}
/* body{
    background-repeat: no-repeat;
    background-size: cover;
} */

/* header styling  
header::before{
    content: "";
    width: 100%;
    height: 80vh;
    background: url('/static/res/background.jpg') no-repeat center center/cover;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.5;
}*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    margin-top: 40px;
}
.background{
    position: fixed;
    width: 100vw;
    height: 80px;
    background: rgb(227 142 37);
    top: 0px;
}

/* navbar styling */
.navbar{
    list-style: none;
}
.navbar li{
    padding: 7px 40px;
    display:inline-block;
}
.navbar li a{
    color: rgb(25, 22, 56);
    font-size: large;
    font-weight:bolder;
    text-decoration: none;
}
li a{
    color: rgb(25, 22, 56);
    text-decoration: none;
}
.navbar li a:hover{
    color: rgb(230, 129, 62);
}
.mid{
    width: 70%;
    display:block;
    margin: auto;
    position: fixed;
    text-align: center;
}
.logoimg{
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
}
.left{
    position: fixed;
    top: 0px;
    left: 10px;
    width: 8%;
    display: block;
    align-items: center;
    margin-top: 5px;
}
.left h3{
    padding: 5px 10px 10px 5px;
    width: 80%;
    font-weight: bold;
    display: block;
    margin: auto;
}

/* right section */
#dropdown{
    position: fixed;
    top: 0px;
    right: 30px;
    width: 10%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#right{
    position: fixed;
    top: 0px;
    width: 10%;
    height: 10%;
    margin: 0px auto;
    margin-top: 30px;
    text-align: center;
}
#profile{
    list-style: none;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
    display: none;
}

#profile li{
    width: 100%;
    margin: 10px auto;
    padding: 10px;
}
#right:hover #profile{
    display: block;
    position: relative;
    background: white;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
}

#loginimg{
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    display: inline;
    vertical-align: middle;
}
#username{
    display: inline;
}


#foot{
    text-align: center;
    background: black;
    margin: 0px;
    padding: 10px;
    margin-top: 50px;
}

#copyright{
    color: white;
}